<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Room</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h2>Edit Room</h2>

<form th:action="@{'/update-room/' + ${room.id}}" 
      th:object="${room}" 
      method="post">

    Room No:
    <input type="text" th:field="*{roomNumber}" /><br><br>

    Room Type:
    <input type="text" th:field="*{roomType}" /><br><br>

    Price:
    <input type="number" step="0.01" th:field="*{price}" /><br><br>

    Status:
    <input type="text" th:field="*{status}" /><br><br>

    <button type="submit">Update</button>

</form>

<br>
<a href="/rooms">Back to Rooms</a>

</body>
</html>